*.iml
.gradle
/local.properties
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
iosApp/.idea/*
!iosApp/.idea/codeStyles/
!iosApp/.idea/inspectionProfiles/
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## Cocoapods
iosApp/Pods
